.container{
    position : absolute;
    left:30%;
    right: 30%;
    background-color:#fafafa;
    width:460px;
    height:680px;
    text-align:center;
    font-family :'Courier New', Courier, monospace;
}

input{
    text-align: center;
}

h1{
    text-align: center;
    color: cornflowerblue;
}

ul{
    text-align: center;
}

button{
    text-align : center;
    background-color : aliceblue;
}
button:hover{
    background-color: beige;
    color : black;
}
